<% provide :title, t("help") %>
<h1><%= t "help" %></h1>
<p>
  <%= t "help_tutorial" %>
  <%= link_to t("help_page"), Settings.help %>.
  <%= t "help_sample" %>
  <%= link_to t("tutorial"), Settings.rails_book %>.
</p>
